.cabeçalho{





}
    .lista-menu__titulo {
    color: var(--laranja);
    }
    .lista-menu {
        display: none;
        display: none;
        position: absolute;
        top: 100%;
        width: 60vw;
        }
    
   